body{
    background-color: lightblue;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    color: white;
    padding: 5px 20px;
    background-color: darkseagreen;
    border-color: gray;
    border-style: none;
}
input{
    height: 20px;
}
