body{
    background-color: #add8e6;
    color: #ffffff;
    
}
button{
    color: #ffffff;
    padding: 5px 20px;
    background-color: #8fbc8f;
    border-color: #808080;
    border-style: none;
}
input{
    height: 20px;
}
